__pycache__/
*.pyc
EVOLV18.code-workspace
docs/
odoo/

.amazonq/
docker-compose.yml
generate_docs.py
q-dev-chat-2025-12-11.md


backup_extracted/
dump.sql
filestore/
odoo19_local.conf
setup_local_odoo19.sh
theevolv-uat-27445053_2026-01-13_184001_exact_fs.zip